{% extends "dashboardbase.html" %}

{% block title %}


<div class="container-fluid">

<div class="text-center">
    <h2>
    Islamic Studies {{user.profile.islamic_studies_class}} Exam Results
  </h2>
</div>


</div>


{% endblock  %}

{% block maincontent %}
	

	  <div class="row">
        <div class="col-xs-12">


        <div class="box box-primary">

            <div class="box-header text-center">
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Exam Number</th>
                  <th>Exam Score</th>
                  <th>Posted Date</th>                          
                </tr>
                </thead>
                <tbody>

                {% for result in object_list %}
                  <tr>
                    <td>Exam {{result.exam_number}}</td>
                    <td>{{result.exam_score}}</td>
                    <td>{{result.posted_date}}</td>

                  </tr>
                  
                {% endfor %}
                
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
        
        </div>



          <!-- /.box -->

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

{% endblock  %}