boto3==1.4.7
botocore==1.7.0
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11.29
django-bootstrap3==9.0.0
django-crispy-forms==1.6.1
django-storages==1.6.5
docutils==0.14
google-api-python-client==1.6.2
gspread==0.6.2
gunicorn==19.7.1
httplib2==0.10.3
idna==2.5
jmespath==0.9.3
misaka==2.1.0
oauth2client==4.1.2
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.3
pyasn1==0.3.2
pyasn1-modules==0.0.11
pycparser==2.18
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.3
rsa==3.4.2
s3transfer==0.1.10
six==1.10.0
uritemplate==3.0.0
urllib3==1.22
whitenoise==3.3.0
