{% extends "dashboardbase.html" %}

{% load bootstrap3 %}

{% block title %}
    <div class="container-fluid">
    <div class="text-center">
    <h2>
        Quran {{class_level}}: Class Posts
    </h2>
    </div>

    </div>
{% endblock  %}

{% block maincontent %}
     
    {% for post in object_list %}
        <div class="well posts">
            <h1><a href="{% url 'quran_post_detail' pk=post.pk %}" style="color:#dd4b39;">{{ post.title }}</a></h1>
            <p><b>Posted by:</b> {{post.author.first_name}} {{post.author.last_name}}</p>
            <p><b>Posted on:</b> {{ post.posted_date|date:"D M Y"}}</p>
            <hr>
            <h5>{{post.message|safe}}</h5>
            <hr>
            <a href="{% url 'quran_post_detail' pk=post.pk %}">Comments: {{ post.quran_comments.count }}</a>
            <a href="{% url 'quran_post_detail' pk=post.pk %}" class="btn btn-success pull-right">View</a>
        </div>

    {% empty %}
    <p>There are no posts to show.</p>

    {% endfor %}

{% endblock  %}